.dbbg {
    height: 100vh;
    width: 100%;
    background-image: url("src/assets/dbbg.jpg");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;

    /* margin: unset;
    padding: unset; */
}