<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button class="bg-warning border rounded" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Employee Office</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list class="text-warning fw-bold">
          <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
          <a routerLink="Home">Home</a>
          <a routerLink="newEmployeeDetails">New Employee Registration</a>
          <a routerLink="employee-Database">Employee List</a>
          <a routerLink="about-us">About Us</a>
          <a routerLink="contact-us">Contact Us</a>
          <a routerLink="careers">Careers</a>

        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <p>
          <router-outlet></router-outlet>
        </p>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  