<div class="container-fluid bgcolor">
    <section class="row justify-content-center ">
        <!-- Heading Section -->
        <div class=" border border-dark col-12 col-md-6 bg-white m-5 ">
            <section class="m-5 ">
                <h2>
                    New Employee Onboarding
                </h2>
                <p class="ptext">Hello! We are excited for your first day. Please help us prepare for your arrival by
                    reviewing and addressing the questions below </p>
            </section>
            <hr class="solid">
            <!-- Heading Section Ends -->

            <!-- Form Section -->
            <section class="row m-5">
                <form>
                    <div class="row">
                        <section class="example-full-width" cellspacing="0">
                            <div class="row">
                                <div class="col-12 col-md-6 matinput">
                                    <div class="col-12 matinput">
                                        <mat-form-field appearance="fill">
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 label ">
                                        <mat-label>EID</mat-label>
                                    </div>
                                </div>
</div>
                            <div>
                                <h6>Name</h6>
                            </div>
      
                            <div class="row">
                                <div class="col-12 col-md-6 matinput">
                                    <div class="col-12 matinput">
                                        <mat-form-field appearance="fill">
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 label ">
                                        <mat-label>First Name</mat-label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="col-12 matinput">
                                        <mat-form-field appearance="fill">
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 label">
                                        <mat-label>Last Name</mat-label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h6>Preferred Name(If different from FirstName)</h6>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="matinput" appearance="fill">
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <h6> Your Position </h6>
                            </div>
                            <div class="row">
                                <div>
                                    <mat-form-field class="matinput" appearance="fill">
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <h6>Phone Number</h6>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="col-12 ">
                                        <mat-form-field appearance="fill">
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 label ">
                                        <mat-label> Please enter a valid Phonenumber</mat-label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="col-12">
                                        <mat-form-field appearance="fill">
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 label">
                                        <mat-label>Email</mat-label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <h6>
                                    Address
                                </h6>
                            </div>
                            <div class="row">
                                <div class="col-12 ">
                                    <mat-form-field class="w-100" appearance="fill">
                                        <input matInput>
                                    </mat-form-field>
                                    <div class="col-12 label">
                                        <mat-label>Street Address</mat-label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 ">
                                    <mat-form-field class="w-100" appearance="fill">
                                        <input matInput>
                                    </mat-form-field>
                                    <div class="col-12 label">
                                        <mat-label>Street Address Line2</mat-label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="col-12 ">
                                        <mat-form-field appearance="fill">
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 label ">
                                        <mat-label> City</mat-label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="col-12 ">
                                        <mat-form-field appearance="fill">
                                            <input matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 label ">
                                        <mat-label> State</mat-label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 ">
                                    <mat-form-field class="w-100" appearance="fill">
                                        <input matInput>
                                    </mat-form-field>
                                    <div class="col-12 label">
                                        <mat-label> Postal/Zipcode</mat-label>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </form>
            </section>
            <!-- Form Section Ends  -->
            <!-- Equipment Section -->
            <h2 class="m-5"> Equipment Preferences</h2>

            <hr class="solid">
            <div class="row m-5 ">
                <p>Laptop</p>
                <div class="mx-3">
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label class="mx-3" for="html">Mac</label><br>
                    <input type="radio" id="css" name="fav_language" value="CSS">
                    <label class="mx-3" for="Windows">Windows</label><br>
                </div>

            </div>
            <div class="row m-5">
                <p>Mouse Preference</p>
                <div class="mx-3">
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label class="mx-3" for="html">Wired</label><br>
                    <input type="radio" id="css" name="fav_language" value="CSS">
                    <label class="mx-3" for="Windows">Wireless</label><br>
                </div>
            </div>
            <div class="row m-5 ">
                <p>Keyboard Preference</p>
                <div class="mx-3">
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label class="mx-3" for="html">Wired</label><br>
                    <input type="radio" id="css" name="fav_language" value="CSS">
                    <label class="mx-3" for="Windows">Wireless</label><br>
                </div>

            </div>
            <div class="row m-5">
                <div class="my-2">Please upload a photo of you to be used on your badge</div>
                <div>
                    <div class=" my-3 custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                    </div>
                </div>
            </div>
            <!-- Equipment Section Ends -->
            <!-- Policies & Orientation -->
            <h2 class="m-5"> Policies & Orientation</h2>

            <hr class="solid">
            <div class="form-group row">
                <div class="m-5 col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            I have reviwed key Policies
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            I have reviwed General Admin Policies
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            I have been given General introduction and Orientation
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Reference docs and guidelines r shared with me
                        </label>
                    </div>
             
                </div>
                  </div>
            <!-- Policies & Orientation Ends -->
            <hr class="solid">
<div class="row w-25 mx-auto my-5 ">
    <button type="submit" class="btn btn-success py-2">Submit</button>
</div>
        </div>
    </section>

</div>