<section class="container bg ">
    <div class="row ">
        <h1 class="text-center">WHO WE ARE?</h1>
        <div class="text-center fs-5"> SOME THINGS YOU SHOULD KNOW ABOUT US</div>
    </div>
    <section class="row my-5">
        <div class="col-12 col-md-6 "><img src="assets/aboutus-background.png"></div>
        <div class="col-12 col-md-6">
            <h3>
                A LITTLE ABOUT US
            </h3>
            <p>
                Founded by highly experienced software and business professionals from the Banking domain, we at
                Vertisize Solutions, take pride at our specialized team of Information Technology professionals
                providing quality services to diverse business domains. We have the experience and the expertise to
                enable complex business solutions. We provide custom made development solutions and services for your
                brands in accordance with the strategic vision of your company and its goals. Moreover, we provide a
                varied range of testing solutions along with strategic consulting. The results are an enhanced market
                presence for your organization and a significant return on your investment with the highest level of
                satisfaction.
            </p>
        </div>

    </section>

</section>