<div class="container-fluid ">
    
<section class=" homebg ">
    <div class="row wel  justify-content-center" >
        WELCOME!
        </div>
    <section class="row justify-content-center">
        <div class="card text-white bg-primary m-5" style="max-width: 18rem;">
            <div class="card-header">Employee Registration</div>
            <div class="card-body">
              <h5 class="card-title">Welcome!</h5>
              <p class="card-text">Please help us to prepare for your arrival by reviewing your details </p>
              <a href="newEmployeeDetails" class="btn btn-light text-primary">New Employee Registration</a>
            </div>
        </div>
        <div class="card text-white bg-primary m-5" style="max-width: 18rem;">
            <div class="card-header">Employee Data</div>
            <div class="card-body">
              <h5 class="card-title">Maintanence</h5>
              <p class="card-text">To view employee list please click below  </p>
              <a href="employee-Database" class="btn btn-light text-primary"> Employee List</a>
            </div>
        </div>
    </section>
</section>

  
</div>