.homebg {
    height: 100vh;
    background-image: url(src/assets/bgimg.jpg);
    background-repeat: no-repeat;
    padding: unset;
    margin: unset;
}

.wel {
    font-size: 55px;
    color: blue;
    text-align: center;
}